body
{
	background-color: #000000;
	color:white;
}
h1
{
	text-align: center;
}
.centered
{
	text-align:center;
}
.content
{
	width: 100%;
}
h2
{
	border-width:2px;
	border-color:#1C302C;
/*	background-color: #3B2A5C;
*/	width:100%;
}
.text
{
	border-width:2px;
	border-color:#1C302C;
	width:100%;
}
a:link
{
	color:#00FF00;
}
a:visited
{
	color:#00FF00;
}
a:hover
{
	color:#55F9FF;
}